extends ../shared/template
block content
  h1 New Treasure
  .row
    .col-xs-6
      form(role='form', method='post', action='treasures')
        input#lat(type='hidden', name='lat')
        input#lng(type='hidden', name='lng')
        .form-group
          label(for='name') Treasure Name
          input.form-control#name(type='text', name='name', autofocus=true)
        .form-group
          label(for='tags') Tags
          input.form-control#tags(type='text', name='tags')
        button.btn.btn-primary(type='submit') Add Treasure
